.navbar{
  position : relative;
  z-index: 20;
  width: 100%;
  margin-top: 60px;
}

@media (min-width : 768px) {
  .navbar{
    background-color: orange!important;
  }
}

@media screen and (max-width:600px){
  .icon{
    display : none
  }

  .logo{
    width: 90px;
    height: 90px;
  }
}

.nav-item{
  color: white !important;
  border-radius: 20px !important;
  margin: 30px;
  width: 100px;
  text-align: center;
}

.nav-item:hover{
  background-color: black;
  border-radius: 20px;
}

.icon{
    margin-right: 50px;
}

.logo{
  margin-left: 15px !important;
}
